<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
    <ul>
      <li><button class="navButton"><a class="buttonLinks" href="/pizzas">Home</a></li></button>
      <li><button class="navButton"><a class="buttonLinks" href="/pizzas/new">Order Pizza</a></li></button>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>
